<body  class="main-body">
<div class="black-background">
<app-admin-header></app-admin-header>
<div class="table-line-up">
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
    <th scope="col" sortable="area" (sort)="onSort($event)">Is admin</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <th>{{ user.id }}</th>
    <td>{{ user.username  }}</td>
    <td>{{ user.isAdmin  }}</td>
  </tr>
  </tbody>
</table>
</div>
</div>
</body>
