<footer class="footer">
  <div class="footer-bottom-text">
                      <!-- Links to explore -->
                      <div class="nav footer-left">
                        <a class="top" href="#FAQ">Help and Contact</a>
                        <a class="top" href="#PriceFAQ">Fees</a>
                      </div>
                      <!-- Social links  -->
                      <div class="nav footer-right">
                        <a class="icon" href="https://www.facebook.com/nedas.surkus"><img src="assets/img/facebook_icon.png"></a>
                        <a class="icon" href="https://twitter.com/NSurkus"><img src="assets/img/twitter_icon.png"></a>
                        <a class="icon" href="https://steamcommunity.com/id/AlphaAwper/"><img src="assets/img/steam_icon.png"></a>
                      </div>
  </div>
  <div class="footer-bottom-text">
        <!-- Info links-->
            <div class="nav footer-left down">
              <a href="#About">About</a>
              <a href="#Blog">Blog</a>
              <a href="#Partners">Partners</a>
            </div>

        <!-- Legal -->
            <div class="nav footer-right down">
              <p class="dateclass">© 2019-2020</p>
              <a href="#Privacy">Privacy</a>
              <a href="#TOS">Terms Of Service</a>
              <a href="#Feedback">Feedback</a>
            </div>
  </div>
</footer>
