* {box-sizing: border-box;}
.footer {
  display:flex;
  flex-flow: column;
  position: absolute;
  bottom: 0;
  background: rgb(2,0,36);
  background: linear-gradient(to bottom, rgba(72, 148, 234, 0.03) 0%, rgba(123, 183, 239, 0.06) 66%, rgba(123, 183, 239, 0.1) 100%);
  padding: 0px 10px;
  width: 100%
}

.footer a {
  font-family: 'NerisLight';
  color: white;
  margin: 20px 25px 20px 25px;
  align-content: stretch;
  text-decoration: none;
  font-size: 14px;
  line-height: 25px;
  border: 1px solid rgba(255,255,255,0);
}
.footer .icon:hover {
  border-bottom:0px solid white;
}

.icon {
  margin: 20px 5px 15px 5px !important;
}

.top {
  margin: 25px 25px 25px 25px !important;
}

.nav{
  display:flex;
  width: 100%;
}

.dateclass{
  font-size: 14px;
  line-height: 25px;
  margin: 20px 25px 20px 25px;
}
.footer a:hover {
  color: white;
  border-bottom:1px solid white;
}

.footer-right {
  margin: 0px 155px 0 0px;
  justify-content: flex-end;
}
.footer-left {
  margin: 0px 0px 0 155px;
  justify-content: flex-start;
}

.down{
  border-top: 1px solid rgba(255,255,255,0.1);
}
.footer-bottom-text{
  display: flex ;
}

@media screen and (max-width: 500px) {

}
